body {
	padding-top: 30px;
	background-repeat: no-repeat;
    background-image: url("../img/header.jpg");
}

.glyphicon {
	margin-bottom: 10px;
	margin-right: 10px;
}

small {
	display: block;
	line-height: 1.428571429;
	color: #999;
}